.bg-container {
    width: fit-content;
    height: fit-content;
    background-image: url(../../../../assets/images/banner.JPEG);
    background-position: center;
    background-size: cover;
}

.container {
    width: 100dvw;
    height: 700px;
    background-image: radial-gradient(at 80%,rgba(0,0,0,0.3), black);
    display: flex;
    align-items: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 50px;
}

.logo-type-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.type {
    letter-spacing: 5px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    max-width: 400px;
}

.description {
    max-width: 400px;
    opacity: 0.8;
    font-weight: lighter;
    margin-top: 5px;
}

.buttons-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}